<form class="input-grid">
  <div class="form-group">
    <label for="row">Number of rows:</label>
    <input #rowAngularID id="row" type="number" for="row" name="row" [ngModel]="row" #row ="ngModel" required maxlength="2"/>
  </div>
  <div class="form-group">
    <label for="column">Number of columns:</label>
    <input #columnAngularID id="column" type="number" for="column" name="column" [ngModel]="column" #column ="ngModel" required maxlength="2"/>
  </div>
  <div *ngIf="column.errors?.maxlength">
    Please input number between 1 and 99.
  </div>
  <div class="buttons">
    <button class="btn" id="create-grid" type="submit" (click)="showButtons(); this.createGridClick(rowAngularID.value, columnAngularID.value)">Create Grid</button>
  </div>
</form>
<ng-container *ngIf="show">
  <div class="grid">
    <table>
      <tr *ngFor="let row of grid; index as rowIndex">
        <td *ngFor="let cell of row; index as columnIndex" (click)="this.selectCell(rowIndex, columnIndex)"
            class="false"
            [class.true]="cell == true">{{cell}}</td>
      </tr>
    </table>
  </div>
  <div class="buttons">
    <button class="btn" id="update-grid" type="submit" (click)="this.updateGridClick()">Next</button>
    <button class="btn" id="reset-grid" type="submit" (click)="this.createGridClick(rowAngularID.value, columnAngularID.value)">Reset Grid</button>
  </div>
</ng-container>
