<form class="input-grid">
  <div class="form-group">
    <label for="row" style="margin: 10px">Number of rows:</label>
    <input #rowAngularID id="row" type="number" />
  </div>
  <div class="form-group">
    <label for="column" style="margin: 10px">Number of columns:</label>
    <input #columnAngularID id="column" type="number" />
  </div>
  <button id="create-grid" type="submit" (click)="this.handleClick(rowAngularID.value, columnAngularID.value)">Create Grid</button>
  <div>
    <table>
      <tr *ngFor="let row of grid; index as rowIndex" style="border: 1px black solid;">
        <td *ngFor="let cell of row; index as columnIndex" style="border: 1px black solid;" (click)="this.selectCell(rowIndex, columnIndex)">{{cell}}</td>
      </tr>
    </table>
  </div>
</form>
