/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: monospace, sans-serif;
}

.navbar-brand {
  font-weight: bold;
}

.menu-items {
  font-size: 10px;
}


.nav-link {
  color: black;
  font-size: 20px;
  display: inline-block;
  
}

  .nav-link:hover {
    color: #00CED1;
  }

h2 {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #F5F5F5;
  border-radius: 5px;
}

h1 {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.game-image {
  padding-top: 10%;
  margin:inherit;
  display:flex;
}

#start-link {
  margin-top: 10%;
  font-size: 30px;
  display: flex;
  justify-content: center;
}

p {
  display: flex;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin: 5px;
}

.block {
  width: 5vw;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  
}


  .block:hover {  
    background: #48D1CC;
    opacity: 0.6 !important;
    box-shadow: 0 0 0px #000000 !important;
  }


.beacon {
  width: 5vw;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}


  .beacon:hover {
    background: #48D1CC;
    opacity: 0.6 !important;
    box-shadow: 0 0 0px #000000 !important;
  }


.glider {
  width: 5vw;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.glider:hover {
  background: #48D1CC;
  opacity: 0.6 !important;
  box-shadow: 0 0 0px #000000 !important;
}

.start-grids {
  display: flex;
  justify-content: space-evenly;
}

.btn {
  color: white;
  font-size:18px;
  text-align: center;
  background-color:#48D1CC;
  border:1px #00CED1;
  padding: 5px, 10px;
  margin: 20px;
  border-radius:5px;
}

button:hover {
  background-color: #00CED1;
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  justify-content: center;
}

td {
  height: 3vw;
  width: 3vw;
  border-radius: 15px;
}

table {
  padding: 5px;
  table-layout: fixed;
  width: 50%;
  }


.false {
  background-color: #FAF0E6;
}

.true {
  background-color: #F4A460;
}

.nav-left {
  float: left;
  width: 50%;
  padding-left: 40px;
  padding-right: 40px;
  
}

.nav-right {
  float: right;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}

.main-container{
display: inline;
}

.weatherWidgetRow {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding:15px, 5px, 15px, 5px;
  margin-bottom: 15px;
}

.weather-table {
  background-color: #FFFAFA;
  padding: 20px;
  border-radius: 5px;
}


.choosecity, #chosenCityID {
  margin-right: 10px;
  display: block;
}


.city {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  color: white;
  font-family: monospace, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  background-color: #48D1CC;
  border: 1px #00CED1;
  padding: 30px, 35px;
  margin: 20px;
  border-radius: 5px;
}

.fa-angle-double-left, .fa-angle-double-right {
  font-size: 25px;
}

.main-container-city{
    width: 100%;
}

.mat-toolbar.mat-primary {
  background: #F5F5F5;
  
}

.site-title {
  color: black;
  font-family: monospace, sans-serif;
  float: left;
  font-weight: bold;
  font-size: 25px;
}
#tutorial-menu:hover {
  color: #48D1CC;
  cursor: pointer;
}


mat-sidenav-content {
  background-color: #fff;
}

.flexSpaceBetween {
  justify-content: space-between;
}

.mat-list-item {
  font-family: monospace, sans-serif;
}


/*.mat-dialog-actions {
  justify-content: flex-end;
  padding: 0px 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 15px;
  margin-bottom: -50px;
  width:100%;
  height:100%;
}*/



.close-tutorial-button {
  color: black;
  float: right;
}

.close-tutorial-button:hover {
    color: #48D1CC;
  }


.cdk-overlay-pane mat-dialog-container.mat-dialog-container {
  margin: 20px 5px;
  padding: 5px;
  width: 25%;
  height: 55%;
  position: fixed !important;
  right: 1%;
  bottom: 20%;
  overflow-y: hidden;
}

.cdk-overlay-pane mat-dialog-container.mat-dialog-container img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}

.cdk-overlay-pane mat-dialog-container.mat-dialog-container button{
    top: 10%;
    float: right;
    }

  .cdk-overlay-pane mat-dialog-container.mat-dialog-container h2 {
    
    margin-top:0px;
  }

.cdk-overlay-pane .mat-dialog-title {
  padding-right: 10px;
  padding-top: 0px;
  display: flex;
  flex-wrap: wrap;
  min-height: 3px;
  align-items: center;
  margin: 0px;
  padding-bottom: 0px;
  justify-content: flex-end;
  font-size:12px;
}

.cdk-overlay-pane .mat-dialog-content {
  max-width: 100%;
  max-height: 100%;
  padding-top: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px;
  padding-right: 2px;
  padding-left: 2px;

  
}

.cdk-overlay-pane .mat-dialog-actions {
  max-width: 100%;
  max-height: 100%;
  padding-top: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
  justify-content: flex-end;
}

  .cdk-overlay-pane .mat-dialog-actions {
    max-width: 100%;
    max-height: 100%;
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 5px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 0px;
    justify-content: flex-end;
  }

.cdk-overlay-pane .next-button .previous-button{
        margin:5px;
        position: fixed;

    }

.cdk-overlay-dark-backdrop {
  background-color: transparent;
}

.cdk-overlay-backdrop .cdk-overlay-backdrop-showing {
  background-color: transparent;
}
