/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: monospace, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.menu-items {
  float: right;
}

.nav-link {
  color: black;
  font-size: 20px;
  display: inline-block;
}



footer {
  display: flex;
  justify-content: center;
  background-color: #F5F5F5;
  border-radius: 5px;
}

h1 {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.game-image {
    padding-top: 10%;
    margin:inherit;
    display:flex;
}

#start-link {
    margin-top: 10%;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

p {
    display: flex;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
    margin: 5px;
}

.btn {
  color: white;
  font-size:18px;
  text-align: center;
  background-color:#48D1CC;
  border:1px #00CED1;
  padding: 5px, 10px;
  margin: 20px;
  border-radius:5px;
}

button:hover {
  background-color: #00CED1;
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  justify-content: center;
}

td {
  height: 3vw;
  width: 3vw;
  border-radius: 15px;
}

table {
  padding: 5px;
  table-layout: fixed;
  width: 50%;
  }

.false {
  background-color: #FAF0E6;
}

.true {
  background-color: #F4A460;
}
