  <div class="card-body">
  <ng-container *ngIf="show">
    <div class="city">
      <label class="choosecity">Choose a city</label>
      <input #chosenCityID matInput type="text" />
    </div>
    <div class="buttons">
      <button class="btn" id="create-grid" type="submit" (click)="this.showWeather(rowValue, columnValue, weatherDescription, chosenCityID.value);">Show weather</button>
    </div>
  </ng-container>

  <ng-container *ngIf="hide">
    <div class="weather-table">
      <div class="unkown">
        <div class="weatherWidgetRow ">{{WeatherData.city}}, {{WeatherData.country}} </div>
        <div class="weatherWidgetRow ">{{WeatherData.temperature}} °C</div>
        <div class="weatherWidgetRow ">{{weatherDescription}}</div>
      </div>
      <div class="grid">
        <table class="weather-game">
          <tr *ngFor="let row of grid; index as rowIndex">
            <td *ngFor="let cell of row; index as columnIndex" class="{{cell}}"></td>
          </tr>
        </table>
      </div>
      <div class="buttons">
        <button class="btn" id="reset-grid" type="submit" [routerLink]="['/home']">Reset</button>
      </div>
    </div>
  </ng-container>
 

</div>

