  <div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">{{mainTitle}}</a>
    <span class="menu-items">
      <a class="nav-link fa fa-home" [routerLink]="['/home']"> Home</a>
      <a class="nav-link fas fa-clipboard-list" [routerLink]="['/rules']"> Rules</a>
      <a class="nav-link fas fa-rainbow" [routerLink]="['/meteo']">Meteo</a>
    </span>
  </nav>
  <h1>{{pageTitle}}</h1>
  <router-outlet></router-outlet>
  <footer>Brought to you by Audrey & Megan</footer>
</div>
